// accessories 配件、小元件
@use "variables" as *;


// 放大鏡圖示
// --------------------------------------------------------------- //
%searchIcon {
  --tinge : #{$black};
  --bgc: #{$white};
  
  position: relative;
  text-indent: -10em; overflow: hidden;
  background-color: var(--bgc);
  
  &::before, &::after{
    content: ''; position: absolute;
  }
  &::before{
    left: calc(50% - 10px); top: calc(50% - 10px);
    width: 18px; height: 18px; 
    border: 1px solid var(--tinge); border-radius: 50%;
  }
  &::after{
    width: 7px; height: 1px; 
    top: calc(50% + 8px); left: calc(50% + 4px);
    border-radius: 1px;
    rotate: 45deg;
    background-color: var(--tinge);
  }
}
// --------------------------------------------------------------- //


// 直角線條箭頭
// --------------------------------------------------------------- //
// 用於 ::before 或 ::after
// 箭頭預設向下
@mixin arrow-rightAngle($size:12px, $borderWidth:1px, $borderColor:#888, $rotate:45deg , $aniDuration: .3s) {
  content: '';  position: absolute; 
  rotate:$rotate;
  width: $size; height: $size;
  border: $borderColor solid $borderWidth; 
  border-top: none; border-left: none;
  transition: $aniDuration;
}
// --------------------------------------------------------------- //


// 直角箭頭-2
// --------------------------------------------------------------- //
// 用於 ::before 或 ::after
// 箭頭預設向右
@mixin arrow-rightAngle2($size:10px, $borderWidth:3px, $bgColor:#999, $rotate:none , $aniDuration: .3s) {
  content: '';  position: absolute; 
  rotate: $rotate;
  width: $size; height: $size;
  background-color: $bgColor;
  clip-path: polygon(0 0, $borderWidth 0, calc(50% + $borderWidth) 50%, $borderWidth 100%, 0 100%, 50% 50%);
  transition: $aniDuration;
}
// --------------------------------------------------------------- //