@use "variables" as *;

// 燈箱（.lightbox）
// 燈箱模組：需要燈箱效果的區塊可在原 class name 之後加 lightbox 即可有燈箱效果
// 原來的 class name 只用來控制樣式
// ---------------------------------------------------------------- //
.lightbox{
  --lbxWidth: 94vw;
  --lbxHeight: calc(100vh - 6vw);
  --lbxWidthMax: calc(#{$wwMaximum}*.94);

  display: none; z-index:199;
  position:fixed; top:3vw; left:3vw;
  width:var(--lbxWidth); height: var(--lbxHeight); 
  padding:0; margin:0 auto; overflow: auto; overflow-y: auto;
  background-color: $white;
  box-shadow:rgb(0 0 0 / .5) 0 0 28px;

  button.closeThis{
    position: absolute; right:3px; top: 3px; z-index:99;
  }
   
  @media screen and (min-width: $wwMaximum){
    width: var(--lbxWidthMax); left:calc(50vw - #{$wwMaximum}*.47);
  }

}
// ---------------------------------------------------------------- //

// 大圖燈箱
.lightbox.bigPhotos {
  background-color: #222;
  .photoStage{
    position: relative;
    width: 100%; height: 100%; 
    .navArrow {
      position: absolute; z-index: 99;top: 50%;
      translate: 0 -50%;
      &.prev { left: 8px;}
      &.next { left: auto; right: 8px;}
    }
  }

  .photoShow, .flow {
    position: relative;
    .flowItem{
      display: none;
      position: absolute; left: 0; top: 0;
      overflow: hidden;
      img{
        display: block; margin: 0 auto;
        width:var(--lbxWidth); height: var(--lbxHeight);
        max-width: var(--lbxWidthMax);
        object-fit: contain;
        &+p{
          position: absolute;
          left: 0; right: 0; bottom: 0;
          margin: 0; padding:16px 24px;
          text-align: center; line-height: 1.6;
          background: rgb(0 0 0 / .8);
          color: $white;
          transition: .4s;
        }
        &:hover + p {
          translate: 0 100%;
        }
      }
    }
  }
}


// 燈箱遮罩
// ---------------------------------------------------------------- //
.coverAll{ 
  display: none; 
  z-index: 188;
  position: fixed; left: 0;right: 0;top: 0;bottom: 0;
  background: rgb(80 80 80 / .8);
}
// ---------------------------------------------------------------- //



