@use "variables" as *;
@use 'accessories' as *;

// 主選單
// ------------------------------------------------------ //
.menu{
  ul{list-style: none; margin: 0;padding: 0;}
  li{
    margin: 0;padding: 0;position: relative;
    a{display: block; outline: none; text-decoration: none;}
  }
}


// 寬版主選單
// ------------------------------------------------------ //
.siteHeader .menu{
  --tinge: #{$black};
  --aBgc: transparent;

  display: none;

  @media screen and (min-width: $wwNormal){
    display: block;
    margin: 0 auto 0 0;
    // 第一層 ul
    &>ul{
      display: flex; flex-flow: row nowrap;
      line-height: 1.2;
      // 第一層 li
      &>li{
        position: relative;
        flex: 0 1 auto; 
        transition: .2s;
        &>a{
          position: relative;
          display: block;
          padding:14px 20px; 
          line-height: 1;
          white-space: nowrap;
          color: var(--tinge);
          background-color: var(--aBgc);
          transition: .2s;
          &:focus, &:hover {
            --tinge: #{$white};
            --aBgc: #{$black};
          }
        }
        &.hasChild {
          &>a{
            padding-right: 36px;
            &::after {
              @include arrow-rightAngle( 8px, 1px, var(--tinge));
              right: 16px; top: 16px;
            }
          }
        }

        &:has(li>a:hover), &:has(li>a:focus){
          --tinge: #{$white};
          background-color: #{$black};
        }

        // 第二層及其之後
        ul{
          display: none; 
          position: absolute; z-index: 99;
          width: max-content; max-width: 22em; min-width: 9em;
          font-size: 1rem; line-height: 1.5;
          background-color: $white; color: $black;
          box-shadow: rgb(0 0 0 / 0.3) 0 5px 20px;
          li{
            a{
              padding: .8em .8em .7em;
              color: $black;
              transition: .15s; 
              &:hover, &:focus{ 
                background-color: $primaryColor; color: $white;
              }
            }

            // 有次選單的 li
            &.hasChild{
              &>a{
                position: relative; padding-right: 36px;
                &::after{
                  @include arrow-rightAngle( 8px, 2px, $primaryColor, -45deg );

                  left: auto; right: 13px; top: 1.25em;
                }
                &:hover, &:focus{
                  &::after{ border-color: $white; }
                }
              }
  
              // 調轉箭頭方向
              &.turn{
                &>a::after{ rotate: 135deg; right: 9px; }
              }
    
              // 第三層及其之後
              ul { top: 0;left: 100%;}
            }
            &.here{
              background-color: $primaryColor; 
              &>a{
                color: #{$white};
                &::after{border-color: $white;}
                &:hover, &:focus{ 
                  background-color: $primaryColor; color: #{$white};
                }
              }
            }
          }
        }

        // 第二層 ul
        // ----------------------------------------
        &>ul {top: auto;left: 0;}
      }
    }
  

    // 次選單高度超過視窗高度時, 控制選單上下的按鈕
    button.downward, button.upward{
      position: fixed; top: calc(100vh - 36px); left: 0; z-index: 99;
      width: 32px; height: 32px; margin: 0; padding: 0;
      transform: translateX(calc(-100% - 4px));
      background-color: $primaryColor;box-shadow: $white 0 0 0 1px;
      transition:box-shadow .2s, opacity .2s;
      border: none;  cursor: pointer;
      &:hover{
        box-shadow: $primaryColor 0 0 0 2px;
      }
      &:focus {
        box-shadow: $white 0 0 0 1px inset, $primaryColor 0 0 0 2px;
      }
      &::before{
        content: ''; position: absolute; width: 8px; height: 8px; top: 50%; left: 50%;
        border: 2px solid $white; border-left: none; border-top: none;
      }
  
      &[disabled]{ 
        opacity: .2; cursor: default;background-color:$black;
        box-shadow: none;
      }
      
      &.downward{
        &::before{
          transform: translate(-4px, -6px) rotate(45deg);
        }
      }
  
      &.upward{
        top: calc(100vh - 72px); 
        &::before{
          transform: translate(-4px, -2px) rotate(225deg);
        }
      }
    }
  }

}
.siteHeader.fixed .menu{
  --tinge: #{$black};
}
// ------------------------------------------------------ //

// 固定版頭 .menu
// ------------------------------------------------------ //
.webHeader.fixed .menu {
  @media screen and (min-width: $wwNormal){
    &>ul{
      font-size: 1rem;
      display: flex; flex-flow: row wrap;
    }
  }

  @media screen and (min-width: $wwMaximum){
    .menu{
      margin-left: $marginDocMax;
      margin-right: $marginDocMax;
      &>ul>li>a{padding-left: 16px; padding-right: 16px;}
    }
  }
}
// ------------------------------------------------------ //