@use "variables" as *;
@use 'accessories' as *;

// 現在位置（麵包屑） //
// ------------------------------------------------------ //
.breadcrumb {
  display: none;
  @extend %primSecWidth;

  @media screen and (min-width: $wwNormal){

    --color: #{$fontColor};
    --color-a: #{$fontColorDark};
    --color-arrow: #{$grayDark};


    display: block;
    margin: 0 auto;
    padding: 30px 0 12px;
    color: $fontColorLight;

    ul, li{ list-style: none; margin: 0;padding: 0;}
    ul{line-height: 1; overflow: hidden;}
    li{
      float: left; 
      position: relative;
      padding:4px 1px 2px; margin-right: 8px;
      color:var(--color);

      &:has(>a){ padding-top: 2px;}

      &:nth-child(n+2){
        padding-left: 20px;
        &::before{ 
          @include arrow-rightAngle(8px, 2px, var(--color-arrow), -45deg);
          left: 0; top: calc(50% - 4px); 
        }
      }
      a{
        display: block; padding: 2px 0 0;
        text-decoration: none; 
        color: var(--color-a);
        border-bottom: 1px solid transparent;
        &:hover, &:focus{  
          border-bottom-color: var(--color-a); 
        }
        &:focus-visible {
          box-shadow: var(--color-a) 0 0 0 1px;
          border-bottom-color: transparent;
          border-radius: 3px;
        }
      }
    }
  }
}

// 紅色漸層底,
// 紅色漸層底
.breadcrumb:has(~.topicComplex),
.breadcrumb:has(~.cp) {

  @media screen and (min-width: $wwNormal){
    --color: #000;
    --color-a: #000;
    --color-arrow: #000;
  }

}

// 主題頁（轉型正義教育專區） 之《瀏覽路徑》和《返回前頁》
@media screen and (min-width: $wwNormal){
  .breadcrumb:has( ~ .themeBanner){

    --color: #fff;
    --color-a: #fff;
    --color-arrow: #{$gray};

    position: absolute; z-index: 19; 
    width: auto;
    left: max($marginDoc, calc(50vw - $maximumWidth*.5));
    text-shadow:  rgb(0 0 0 / 1) 0 1px 3px, rgb(0 0 0 / 1) 0 0 8px, rgb(0 0 0 / 1) 0 0 8px;
    
  }
}

// ------------------------------------------------------ //


// 內頁標題 //
// ------------------------------------------------------ //
.pageHeader{
  @extend %primSecWidth;
  position: relative;
  margin: 0 auto 16px; 
  padding: 16px 0 0;
  color: $fontColorDark; 
  &::after {
    content: ''; display: block; clear: both;
  }
  h2 {
    padding: 0;margin: 0 0 8px;
    font-size: 2.8em;line-height: 1.3;
    font-family: "Noto Serif TC", serif;
    font-weight: 600;
    color: $fontColor;
  }
  .funcBar{ margin:4px;}
  @media screen and (min-width: $wwNormal){
    h2 {float: left;}
    
    .funcBar {
      float: right;
      margin-left: 32px;
    }
  }
}
// ------------------------------------------------------ //


// 檔案類型圖示 //
// ------------------------------------------------------ //
.fileType{
  --bg : #aaa;
  --color : #fff;

  display: block; position: relative; 
  margin: 0; width: 28px; height: 32px; line-height:42px;
  font-size: .6rem; text-decoration: none; text-align: center;
  color: var(--color); 
  background-image: linear-gradient(45deg, var(--bg) 86%, transparent 86%);
  border-radius: 3px;
  transition: .2s;

  &::before, &::after{
    content: ''; position: absolute;
  }
  &::before{
    top: 5px; left: 5px; right: 5px; height: 1px;
    background-color: rgba(255,255,255,.65);
    box-shadow: rgba(255,255,255,.65) 0 3px 0, rgba(255,255,255,.65) 0 6px 0;
  }
  &::after{
    right: 0; top: 0;
    width: 8px; height: 8px; border-radius: 0 0 0 2px;
    background-color: rgba(255,255,255,.65);
  }
  &.pdf { --bg : #d00; }
  &.doc , &.docx, &.odt{ --bg:#0863a0; }
  &.xls, &.xlsx, &.csv, &.ods { --bg:#48920f; }
  &.ppt, &.pptx, &.odp{ --bg:#ef5527; }
  &.txt { --bg:#1d98e4; }
  &.jpg,  &.jpeg,  &.png { --bg:#089c9f; }
  &.mp3, &.mp4 { --bg:#9d3a89; }
  &.mov, &.wmv{ --bg:#5843a9; }
  &.zip { --bg:#333; }
  &.other { --bg:#555; }
}
a .fileType, .fileType>a{ color: $white; text-decoration: none; }
a:hover, a:focus{
  .fileType{box-shadow:var(--color) 0 0 0 1px inset, var(--bg) 0 0 0 2px;}
}
// ------------------------------------------------------ //

