@use "variables" as *;

@forward "toc"; // 歷史清單, table of contents


// 標題與簡述
// ---------------------------------------------------------------- //
.brieft {
  padding: 50px 0;
  text-align: center;
  &::before {
    content: ''; z-index: -1;
    position: absolute; left: 0;right: 0; top: 0;
    height: min(50vh, 600px);
    background-image: linear-gradient(to bottom, rgb(211 83 68 / 1), rgb(211 83 68 / 0));
  }
  h2, p, time{
    margin: 0 auto;
  }
  h2{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px 0 24px;
    line-height: 1.2;
  }
  p{
    border-top: 1px solid $borderColorDark;
    line-height: 2;
    padding: 24px 0;
    
  }

  @media screen and (min-width: $wwNormal){
    h2, p, time{
      max-width: 90%;
      width: fit-content;
    }
    h2{
      font-size: 3.2em;
    }
    p{
     padding-left: 22%; padding-right: 22%;
    }
  }
}
// ---------------------------------------------------------------- //


// 此章節內容
// ---------------------------------------------------------------- //
.prologue{
  margin: 0 auto 40px; padding: 32px 0;
  line-height: 2;
  border-bottom: 1px solid $grayDark;
  .chapterTitle{ 
    font-size: 1.6em; font-weight: 500;
    line-height: 1.3; text-align: center;
    margin: 0 0 32px;
  }

  @media screen and (min-width: $wwNormal){
    .chapterTitle {font-size: 2.5em; text-align: left;}
  }
}
// ---------------------------------------------------------------- //



// ---------------------------------------------------------------- //
// ---------------------------------------------------------------- //
// ---------------------------------------------------------------- //


// LP01_導覽列表頁
// ---------------------------------------------------------------- //
.oneTopic {
  width: $mobileWidth;
  margin: 0 auto; 
  padding: 0 0 80px;


  @media screen and (min-width: $wwNormal){
    width: $normalWidth;
    max-width: $maximumWidth;
    display: flex; flex-flow: row wrap;
    .brieft {
      flex: 0 0 100%;
    }

    .toc {
      z-index: 0;
      width: auto;
      position: static;
      flex: 0 0 25%;
    }

    .cover{
      width: auto;
      flex: 0 0 72%;
      margin-left: 3%;

      .thumbList{
        margin: 0;
        width: 100%;
      }
    }
    
  }

}
// ---------------------------------------------------------------- //
