@use "variables" as *;

// 相關圖檔（cp 頁）
//（點擊左右箭頭滑動）photoflow
// ------------------------------------------------------ //
.photoflow{
  margin: 64px auto;
  .flow{
    padding-left: 44px; padding-right: 44px;

    .slick-arrow{
      position: absolute; top: 50%;
      translate: 0 calc(-50% - 10px);
      &.slick-prev {
        left: 0;
      }
      &.slick-next {
        right: 0;
      }
    }
  }

  .flowItem{
    margin: 16px 8px; padding: 0;
    aspect-ratio: 1;
    &>a{
      position: relative; display: block; 
      width: 100%; height: 100%;
      cursor: zoom-in;
      overflow: hidden;transition: .5s; 
      &::before{
        content: ''; z-index: 9;
        position: absolute; left: 0; right: 0; top: 0; bottom: 0;
        box-shadow: $borderColor 0 0 0 1px inset; 
      }
      &:hover, &:focus {
        p{ transform:  translateY(0); }
        img{ transform: scale(1.1);}
      }
      &:focus {
        p{ transition: none;}
        &::before{ box-shadow: $borderColorDark 0 0 0 2px inset;}
      }
    }
    img{
      display: block;
      width: 100%; height: 100%; object-fit: contain;
      transition: .3s;
    }
    p{
      position: absolute; left: 0; right: 0; bottom: 0;
      padding:90px 10px 8px; margin: 0;
      color: $white; 
      background-image: linear-gradient(0deg, rgb(0 0 0 / .9) .6em, rgb(0 0 0 / .7) 40%, rgb(0 0 0 / 0) 100%);
      transform: translateY(110%); transition: .5s;
    }

    // &>a{
    //   display: block;
    //   height: 100%;
    //   padding: 16px;
    //   text-decoration: none;
    //   background-color: $grayLight;
    //   border-radius: $radius;
    //   transition: .2s;

    //   &:hover{
    //     background-color: $white;
    //     box-shadow:$borderColor 0 0 0 1px, $shadow1 0 4px 8px;
    //   }
    //   &:focus {
    //     background-color: $white;
    //     box-shadow:$borderColorDark 0 0 0 2px, $shadow1 0 4px 8px;
    //   }
    // }
    // img{
    //   display: block;
    //   width: 100%;
    //   aspect-ratio: 4/3;
    //   object-fit: contain;
    // }

  }

  .slick-dots{
    padding: 4px;
  }

  @media screen and (min-width: $wwNormal){

    .flow{
      padding-left: 22px; padding-right: 22px;
      .slick-arrow{
        &.slick-prev {
          translate: -60% calc(-50% - 10px);
        }
        &.slick-next {
          translate: 60% calc(-50% - 10px);
        }
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    .flow {
      padding-left: 0;
      padding-right: 0;
      .slick-arrow{
        &.slick-prev {
          translate: -105% calc(-50% - 10px);
        }
        &.slick-next {
          translate: 105% calc(-50% - 10px);
        }
      }
    }
  }

}
// ------------------------------------------------------ //

