@use "variables" as *;

// 首頁：推薦檔案
.recommend{
  position: relative;
  padding: 50px 0 0; margin: 0 auto 100px;

  h2{ @extend %mp-h2 }

  h3 {
    margin: 12px auto 8px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75em; 
    line-height: 1.2;
    color: $primaryColor;
  }

  .flow{
    position: relative;
    padding-bottom: 56px;
    margin-left: $marginDocMob;
    margin-right: auto;
    
    .slick-list{ padding-right: 10vw; }

    .flowItem{
      margin: 0 12px;
      a{
        display: block;
        margin: 24px 0; padding: 16px;
        text-decoration: none;
        background-color: $grayLight;
        border-radius: $radius;
        box-shadow: $gray 0 0 0 1px;
        transition: .2s;
        &:hover, &:focus{
          background-color: $white;
          translate: 0 -5px;
        }
        &:hover{
          box-shadow:$primaryColor 0 0 0 0, $shadow1 0 5px 12px;
        }
        &:focus{
          box-shadow:$primaryColor 0 0 0 2px, $shadow1 0 5px 12px;
        }
      }
      img{
        display: block;
        margin: 0 auto;
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: contain;
      }
      p{
        margin: 16px 0 8px;
        font-size: 1.25em; line-height: 1.5;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .slick-arrow {
    position: absolute; bottom: 12px; left: 12px;
    &.slick-next {
      translate: 130% 0;
    }
  }

  .pausePlay {
    position: absolute; 
    bottom: calc(2.7em + 17px );
    right: 10vw;
  }

  .more {
    a {
      margin-left: auto;
      margin-right: auto;

      &:hover,
      &:focus {
        --tinge: #{$white};
        --bgc: #{$primaryColor};
        --outline-c1: #{$primaryColor};
      }

      &:focus {
        --outline-c1: #{$white};
        --outline-c2: #{$primaryColor};
      }
    }
  }


  @media screen and (min-width: 850px){
  
    .flow {
      .slick-list { padding-right: 6vw;}
    }
    .pausePlay{ right: 6vw;}
  }

  @media screen and (min-width: $wwNormal){

    max-width: $maximumWidth;
    .flow{
      width: $normalWidth;
      padding-bottom: 0;
      margin-left: auto;
      .slick-list{
        padding-right: 8px;
        padding-left: 8px;
      }
    }

    .slick-arrow {
      bottom: 50%; 
      &.slick-prev { left: 4px; translate: -100% 50%;}
      &.slick-next { left: auto; right: 4px;  translate: 100% 50%;}
    }

    .pausePlay {
      right: calc($marginDoc + 12px);
      bottom: 0;
    }
  }

}
