@use 'variables' as *;
@use 'accessories' as *;


// sp03.html 進階搜尋_查詢結果頁
// --------------------------------------------------------------- //
.searchComplex{
  @extend %primSecWidth;

  .archSearch{ 
    background-color: $grayLight;
    border-radius: $radius2;
    margin-bottom: 16px;
    .hotKeywords{
      --a-bgc: #{$white};
    }
  }

  // 左側欄：搜尋條件 + 篩選主題或事件
  .leftSidebar {
    .keyword {
      display: block;
      margin: 0 8px 16px;
      font-weight: bold;font-style: normal;
      color: $fontColorDark; 
    }
    ul {list-style: none;margin:0;padding: 0; }

    li {
      margin: 0 0 6px;
      &>button {
        position: relative;
        width: 100%; height: auto;
        margin: 0; padding: 10px 12px 8px 36px;
        text-align: left;line-height: 1.5;
        border-radius: 1.5em;
        background-color: transparent;
        color: $fontColor;
        &::before {
          position: absolute;left: 10px;top: .7em;
          width: 20px;height: 20px;line-height: 21px;
          text-align: center;
          border-radius: 50%;
          color: $white;
          transition: .15s;
        }

        &:hover, &:focus{background-color: $white;
          .count{ box-shadow: $grayDark 0 0 0 1px;}
        }
        &:focus-visible {box-shadow: $borderColorDark 0 0 0 2px;}

        .count{
          display: inline-block;
          height: 1.2em; line-height: 1.3;
          min-width: 1.3em; text-align: center;
          padding: 0 4px; margin: 0 0 0 3px;
          border-radius: 1em;
          font-family: 'Courier New', Courier, monospaces;
          font-weight: bold;
          background-color: $white;
        }
      }
    }

    // 左側欄：搜尋條件, 篩選主題或事件
    .conditions, .filters {
      margin: 0 0 16px; padding: 8px;
      border-radius: $radius2;
      background-color: $grayLight;
      border-radius: $grayLight;
      .head {
        font-size: 1.15em; letter-spacing: 1px;
      }
    }

    // 左側欄：搜尋條件
    .conditions {
      .head{
        margin:0 0 16px; padding: 8px 8px 16px;
        border-bottom: 1px solid $borderColor;
      }
      li{
        button {
          &::before {
            content: '−';
            background-color: $primaryColor;
          }
          &:hover, &:focus {
            &::before {
              box-shadow: $primaryColor 0 0 0 2px;
            }
          }
        }
      }
    }

    // 左側欄：篩選主題或事件
    .filters{
      .head {
        position: relative;
        border-radius: $radius;
        .text{
          display: block;
          margin-right: 36px; padding: 8px;
        }
        button.handle{
          margin: 0;
          height: 2.4em; width: 100%;
          position: absolute; top: 0;
          background-color: transparent;
          transition: .2s;
          &::before, &::after {
            content: ''; position: absolute;
            transition: .2s;
          }
          &::before {
            right: 3px;top: 3px;
            width: 36px; height: 36px;
            border-radius: 50%;
          }
          &::after {
            right: 16px; top: 14px;
            width: 10px; height: 10px;
            border: 2px solid $borderColorDark;
            border-left: none; border-top: none;
            rotate: 45deg;
          }
          &.closeIt {
            &::after{top: 18px; rotate: 225deg;}
          }
          &:hover{
            &::before {background-color: $white;}
          }
          &:focus {
            &::before {background-color: $black;}
            &::after { border-color: $white;}
          }
        }
      }

      &>ul {
        border-top: 1px solid $borderColor;
        margin-top: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
      }
      li{
        button {
          &::before{
            content: '+';
            background-color: $primaryColor;
          }
          &:hover, &:focus {
            &::before {
              box-shadow: $primaryColor 0 0 0 2px;
            }
          }
        }
      }
    }
  
  }

  // 搜尋結果
  .result, .rightContent {
    padding: 16px 0; margin: 24px auto 0; width: $mobileWidth;
    .searchInput { 
      margin: 0 0 16px;
      em.keyword {
        display: inline-block; margin-left: 8px;
        font-size: 1.5em; font-weight: bold;
        font-style: normal;
      }
    }
    .thumbList{
      margin-top: 24px;
    }
  }

  @media screen and (min-width: $wwNormal){

    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;

    .archSearch {
      flex: 0 0 100%;
      margin-bottom: 36px;
      form, .hotKeywords {
        max-width: 920px;
      }
    }

    .leftSidebar{
      flex: 0 0 28%;
      width: auto;margin: 0;
    }

    .rightContent{
      flex: 0 0 69%;
      width: auto; margin: 0;

      .thumbList{
        width: 100%; 
        margin-bottom: 56px;
      }
    }
  }
}
// --------------------------------------------------------------- //



