@use "variables" as *;

// 版頭查詢區
// ---------------------------------------------------------------- //
.siteHeader .search{

  display: none;

  @media screen and (min-width: $wwNormal){

    display: flex; align-items: center;
    margin-left: 20px;

    form{
      flex: 1 1 90%;
      position: relative;
      height: 44px; border-radius: 22px;
      background-color: $white;
      input[type="text"] {
        height: 36px; width: calc(100% - 48px);
        border-radius: 18px;
        margin: 4px auto auto 4px; padding: 0 12px;
        border: none;
        &:focus-visible {
          box-shadow: $primaryColor 0 0 0 2px;
        }
      }
      input[type="button"], input[type="submit"], button{
        position: absolute; right: 4px; top: 4px;
        width: 36px; height: 36px; border-radius: 50%;
        margin: 0; padding: 0;
        outline: 0; border: none; font-size: 0;
        background: url(../images/icon_search_black.svg) no-repeat center center;
        background-size: 16px auto;
        transition: .2s;
        &:hover {
          background-color: $grayLight;
        }
        &:focus {
          background-color: $primaryColor;
          background-image: url(../images/icon_search_white.svg);
        }
      }
    }

    a.advLink {
      --color: #{$white};

      flex: 0 0 content;
      display: block; white-space: nowrap;
      margin: 3px 2px 2px 12px; padding:0 0 4px;
      font-size: .875em; line-height: 1;
      text-decoration: none;
      color: var(--color);
      position: relative;
      &::after {
        content: ''; 
        position: absolute;left: 0; right: 0; bottom: 0;
        height: 1px;
        background-color: var(--color);
      }
      &:hover, &:focus{
        &::after {
          height: 2px;
        }
      }
      &:focus-visible {
        outline: 1px solid var(--color);
      }
    }
  }

}



// 固定版頭時
.siteHeader.fixed .search {
  @media screen and (min-width: $wwNormal){
    form {
      box-shadow: $grayDark 0 0 0 1px;
    }
    a.advLink {
      --color: #{$black};
    }
  } 
}
// ---------------------------------------------------------------- //





