@use 'sass:color';
@use "variables" as *;
@use 'accessories' as *;

// fatFooter 開關
// --------------------------------------------------------------- //
.fatFootCtrl{
  --ting: #{$white};
  --bg: #{$primaryColor};
  --size: 56px;
  --arrowSize: 16px;

  position: absolute; z-index: 9; 
  top: calc(-1 * var(--size)/2); right: $marginDoc;
  height: var(--size); aspect-ratio: 1;
  padding: 0; margin:0;
  text-indent: -20em; overflow: hidden; 
  border: none; box-shadow: none;
  background-color: var(--bg);
  transition: .2s;

  &::before {content: ''; position: absolute;}
  &::before {
    @include arrow-rightAngle(  var(--arrowSize) , 2px ,  var(--ting), $rotate:225deg );
    
    left: calc( 50% - var(--arrowSize)/2); 
    top: calc( 50% - var(--arrowSize)/2 + 5px );
  }

  &:hover{
    box-shadow: var(--ting) 0 0 0 0, var(--bg) 0 0 0 2px;
  }
  &:focus {
    box-shadow: var(--ting) 0 0 0 1px, var(--bg) 0 0 0 4px;
  }

  &.closed{
    &::before{
      // rotate: 225deg;
      margin-top: -8px;
      rotate: 45deg;
    }
  }

  @media screen and (min-width: $wwMaximum){
    right: $marginDocMax;
  }
}
// --------------------------------------------------------------- //


.siteFooter{

  --bg: #{$grayLight};
  
  position: relative;
  padding: 60px 0 0;
  background-color: var(--bg);

  ul, ol{
    list-style: none; margin: 0 auto;padding: 0;
    line-height: 1.5;
  }
  

  // 1ogo 及其以下元件
  // --------------------------------------------------------------- //

  // logo
  .footLogo{
    text-align: center;
    img{ display: block; margin: 0 auto;}
  }

  .base {
    padding: 48px 3%;margin: 48px 0 0;
    text-align: center;line-height: 1.5;
    background-color: color.adjust($grayLight, $lightness: -5%);
  }

  // 隱私權、著作權及 ...
  .textLinks{
    margin: 32px auto;
    li{
      margin: 0 auto 16px;
      &>a{ 
        display: block; padding: 2px 0 1px;
        &:hover, &:focus {
          text-decoration: none;
          color: $fontColorDark;
        }
        &:focus-visible {
          outline: 2px solid $fontColorDark;
          text-decoration: none;
        }
      }
    }
  }

  // Facebook Instagram
  .iconLinks{
    margin: 32px auto;
    li{
      display: inline-block;
      &+li {margin-left: 24px;}
      a{
        display: block;
        &:hover, &:focus {
          text-decoration: none;
          color: $fontColorDark;
        }
        &:focus-visible {
          outline: 2px solid $fontColorDark;
          text-decoration: none;
        }
      }
    }
  }

  // 瀏覽人次+更新日期
  .update {
    margin: 32px auto;
    li{margin: 6px 0;}
  }

  // 無障礙標章
  .badge{
    display: block;
    a{
      display: block;width: 180px;margin: 0 auto;
      img{display: block; width: 100%;}
      &:focus {
        box-shadow: $white 0 0 0 1px, $assistant 0 0 0 4px;
      }
    }
  }

  // 版權所有
  .copyright{
    margin: 40px auto 10px;
    font-size: .9em;
  }

  @media screen and (min-width: $wwMedium){
    .base{
      display: grid; gap: 12px 15%;
      grid-template-areas:
        "footLogo footLogo"
        "textLinks iconLinks"
        "textLinks update"
        "textLinks badge"
        "copyright copyright";
      grid-template-columns: 1fr 1fr;
      padding-left: 5%; padding-right: 5%;
    }
    .footLogo{
      grid-area: footLogo;
      margin-bottom: 30px;
      justify-self: center;
    }
    .textLinks, .iconLinks, .update, .badge {
      text-align: left;
      margin: 0;
      width: fit-content;
    }
    .textLinks{
      grid-area: textLinks;
      justify-self: end;
    }
    .iconLinks {
      grid-area: iconLinks;
      margin-bottom: 20px;
    }
    .update {
      grid-area: update;
    }
    .badge{
      grid-area: badge;
      a{margin: 0;}

    }
    .copyright {
      grid-area: copyright;
    }
  }

  @media screen and (min-width: $wwNormal){
    .base{
      gap: 12px 148px;
    }
  }
  
}



// 選單樹 fatFooter
// --------------------------------------------------------------- //
.fatFooter{
  .siteTree{
    width: $normalWidth; margin: 0 auto;
    &>ul{
      display: flex; flex-flow: row wrap;
      justify-content: space-between;
      gap:32px 3.5%;
      line-height: 1.5;
      a{text-decoration: none; position: relative;}
      &>li{
        flex: 0 0 47%;
        &:first-child{flex-basis: 100%;}
        &>a{
          display: block;
          width: fit-content;
          white-space: nowrap;
          font-size: 1.125em; font-weight: bold;
          &::after {
            content: '';
            position: absolute; left: 0; right: 100%; bottom: 0;
            height: 3px;
            background-color: $primaryColor;
            transition: .2s;
          }
          &:hover, &:focus {
            &::after{
              right: 0;
            }
          }
          &:focus-visible {
            box-shadow: $fontColor 0 0 0 2px;
          }
        }
        &>ul{
          display: none;
          margin-top:20px;
          a {
            display: inline-block;
            padding-left: 15px;
            border-bottom: 1px solid transparent;
            transition: .15s;
            &::before{
              content: ''; position: absolute; left: 2px; top: 9px;
              width: 4px;height: 4px;
              background-color: $grayDark;
              transition: .15s;
            }
            &:hover, &:focus{
              border-bottom-color: $fontColor;
              &::before {
                width: 8px; height: 8px; top: 7px;
                background-color: $primaryColor;
              }
            }
            &:focus-visible {
              border-bottom-color: transparent;
              box-shadow: $fontColor 0 0 0 2px;
            }
          }
        }
        ul{
          li{
            margin: 0 0 .8em;
          }
        }
      }

  
    }
  }

  @media screen and (min-width: $wwMedium){
    .siteTree{
      &>ul{
        gap:20px 2%;
        &>li{
          flex:0 1 16%;
          &:first-child{flex:1 1 20%;}
          &:last-child {flex:0 1 content; margin-left: calc(2% + 1em); }
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    .siteTree{
      &>ul{
        flex-wrap: nowrap;
        &>li{
          flex:0 1 18%;
          &:first-child{flex-basis: 20%;}
          &:last-child {flex:0 1 content; }
        }
      }
    }
  }

  @media screen and (min-width: $wwMaximum) {
    .siteTree{ width: $maximumWidth; }
  }
  

}
// --------------------------------------------------------------- //

