@use "variables" as *;
@use '_accessories' as *;

// 首頁：檔案 時光流轉的故事
.story-in-archive {
  padding: 40px 0 80px;
  background-color: $primaryColor; color: $white;

  a{color: $white; }

  h2{ margin: 0; padding: 0;}

  .title-and-search{
    margin: 0 auto;
    width: $mobileWidth;

    &>hgroup{
      h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.375em;font-weight: normal;
        line-height: 1.2;
        em{
          display: block; margin: 0 0 12px;
          font-size: 1.8em; font-style: normal;
        }
      }
      p{ line-height: 1.6; margin: 20px 0;}
    }
  }


  // 輪播圖
  .stories {
    position: relative;
    margin-left: $marginDocMob;
    margin-top: 80px;

    .pausePlay {
      --tinge: #{$white};
      --bgc: transparent;
      --borderColor: #{$white};

      position: absolute; right: $marginDoc; bottom: 10px;
      transition:all .2s, right 0s;

      &:hover, &:focus{
        --bgc: #{$white};
        --tinge: #{$primaryColor};
        --borderWidth: 1px;
      }
      &.paused{
        --bgc: #{$white};
        --tinge: #{$primaryColor};
        --borderColor: #{$white};
      }
    }
    
    .flow {
      padding: 0 24vw 64px 0;
      overflow: hidden;
      .slick-list{ overflow: visible;}
      .flowItem {
        margin: 12px 28px 12px 2px;

        &>a{
          position: relative;
          display: block;width: 100%;
          aspect-ratio: .88;
          text-decoration: none;
          border-radius: $radius;
          overflow: hidden;
          transition: .3s;

          &::after {
            content: ''; z-index: 2;
            position: absolute; left: 0; right: 0; top: 30%; bottom: 0;
            background: linear-gradient( to bottom, rgb(0 0 0 / 0) , rgb(0 0 0 / .9) 90%);
            opacity: .7;
            transition: .3s;
          }


          img{
            display: block; 
            width: 100%; height: 100%;
            object-fit: cover;
          }

          p {
            z-index: 9;
            position: absolute; left: 0; right: 0;bottom: 0; top: auto;
            padding: 16px 16px 20px;
            margin: 0;
            font-size: 1.25em; line-height: 1.4;
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: 0.3s;
          }

          &:hover, &:focus{
            &::after {
              opacity: 1;top: 0;
            }
          }
          &:focus{box-shadow: $white 0 0 0 2px;}
        }
      }

      .slick-arrow {
        --bgc:  #{$primaryColor};
        --tinge: #{$white};

        position: absolute;
        bottom: 8px;
        left: 8px;
  
        &.slick-next {
          translate: 140% 0;
        }
        &:hover, &:focus{
          --bgc: #{$white};
          --tinge: #{$primaryColor};
        }
      }

    }


      .slickArrows {        
        &>button {
          --bgc:  #{$primaryColor};
          --tinge: #{$white};

          position: absolute;
          bottom: 8px;left: 8px;
    
          &.slick-next {
            translate: 140% 0;
          }
          &:hover, &:focus{
            --bgc: #{$white};
            --tinge: #{$primaryColor};
          }
        }

      }
    
  }

  @media screen and (min-width: 700px){

    .stories{
      .flow{padding-right: 12vw;}
    }

  }


  @media screen and (min-width: $wwNormal){

    display: flex; align-items: flex-start;
    padding-left: $marginDoc;
    padding-top: 100px;

    // 左側標題和查詢
    .title-and-search{
      flex: 0 0 34%;
      &>hgroup{
        h2{
          font-size: 3em;
          em{font-size: 2em;}
        }
        p{font-size: 1.125em; }
      }
    }


    // 右側主題圖輪播
    .stories{
      flex: 0 0 59%; width: 59%;
      margin-left: min(3%, 64px);
      margin-right: 0;margin-top: 0;
      .flow{
        padding-right:6vw;
        max-width: 964px;
        .slick-list {max-width: 660px;}
      }

    }

  }

  @media screen and (min-width: $wwMaximum){
    // width: 1344px;
    padding-left: calc(50vw - 644px);

    .title-and-search{
      flex-basis: $wwMaximum*.34;
    }

    .stories{
      flex-basis: calc(50vw + 112px);
      width: calc(50vw + 112px);
      .pausePlay {
        right: calc(50vw - $maximumWidth/2);
      }
    }
  }

}







// 首頁「時光流轉的故事」輪播區查詢
// ---------------------------------------------------------------- //
.story-in-archive .search {
  margin: 24px 0 0;
  text-align: center;
  
  form{
    position: relative;
    margin: 0 0 16px;padding: 4px;
    height: 3.25em; width: 100%;
    background-color: #fff;
    border-radius: $radius;
    text-align: left;
  }
  input, button {
    margin: 0;
    font-size: inherit;
    border-radius: $radius*.5;
    transition: .2s;
  }
  input[type="text"]{
    height: calc(3.25em - 8px);
    width: calc(100% - 3.5em);
    padding: 0 .5em;
    border: none; outline: none;
    &:focus{
      box-shadow: $primaryColor 0 0 0 2px;
    }
  }
  button{
    @extend %searchIcon;
    position: absolute; right: 4px; top: 4px;
    width: calc(3.25em - 8px);
    height: calc(3.25em - 8px);
    border: none;
    
    &:hover{
      --bgc: #{$grayLight};
    }
    &:focus {
      --tinge : #{$white};
      --bgc: #{$primaryColor};
    }
  }

  .hotKeywords{
    list-style: none; line-height: 1.1;
    margin: 20px auto; padding: 0;
    li{
      display: inline-block;
      margin: 0 4px;
      a{
        display: block;
        padding:3px 0 1px;
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid rgb(255 255 255 / .5);
        margin-bottom: 1px;
        &:hover{
          border-bottom-color: $white;
          border-bottom-width: 2px;
          margin-bottom: 0;
        }
        &:focus-visible {
          outline: 2px solid $white;
          border-bottom-color: transparent;
          border-radius: 2px;
        }
      }
    }
  }


  .button {
    @extend %roundButton !optional;

    &:last-child{
      --tinge: #{$white};
      --bgc: #{$white};
      --frc: #{$fontColor};
      a{
        &:hover, &:focus {
          --tinge: #{$black};
          --bgc: #{$black};
          --frc: #{$white};
        }
        &:focus {
          --tinge: #{$white};
        }
      }
    }
  }

  @media screen and (min-width: $wwMedium){

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  
    form {
      flex: 1 0 100%; margin-bottom: 20px;
    }
  
    .hotKeywords {
      flex: 0 1 auto;
      margin: 12px 0;
    }

  }

  @media screen and (min-width: $wwMaximum){
    margin-top: 38px;
  }

}
// ---------------------------------------------------------------- //
