@use "variables" as *;

// 首頁：主題檔案
.topics{
  padding: 50px 0;

  h2{ @extend %mp-h2}

  .topicList {
    list-style: none; margin: 24px auto 0;padding: 0;
    width: $mobileWidth;

    &>li{
      // 瀏覽更多主題
      &.moreTopics {
        p{ 
          // font-family: Georgia, 'Times New Roman', Times, serif;
          font-family: "Noto Serif TC", serif;
          font-size: 1.5em; line-height: 1.2;
          margin:0 auto 20px;
        }
        .button {
          --tinge: #{$white};
          
          float: none;
          width: fit-content;
          margin:24px auto 0;
        }

        padding-top: 40px; padding-bottom: 40px;
        background-color: $primaryColor;
        color: $white;
        text-align: center;

        .more{
          --tinge: #{$white};
          --bgc: transparent;
          --outline-c1: #{$white};
          --outline-c2: transparent;
          a{
            margin: 0 auto;
            &:hover, &:focus{
              --tinge: #{$fontColorDark};
              --bgc: #{$white};
            }
            &:focus{
              --outline-c1: #{$primaryColor};
              --outline-c2: #{$white};
            }
          }
        }
      }
    }
    
  }

  @media screen and (min-width: $wwMedium){

    .topicList {
      display: flex; flex-flow: row wrap;
      gap: 20px;
      &>li{
        max-width: none; margin: 0;
        flex: 0 0 calc(50% - 10px);
        &:first-child {
          flex-basis: 100%;
          article{
            width: calc(50% + 8px);
          }
        }
        &:last-child {
          display: flex; flex-direction: column;
          justify-content: center;
        }
      }
    }
    
  }

  @media screen and (min-width: $wwNormal){

    .topicList{
      width: $normalWidth; max-width: 1288px;

      display: grid;
      grid-template:
      "a a b"
      "c d e";
      gap: 24px;
      &>li{
        &:first-child {
          grid-area: a;
          article{
            width: calc(50% + 8px);
          }
        }
        &:nth-child(2){grid-area: b;}
        &:nth-child(3){grid-area: c;}
        &:nth-child(4){grid-area: d;}
        &:last-child {grid-area: e;}
      }
    }
  }

}