// RWD 斷點 
// ---------------------------------------------------------------- //
$wwSlim: 400px;
$wwMedium: 700px;
$wwNormal: 1100px;
$wwMaximum: 1400px;
// $wwMaximum: 1680px;
// ---------------------------------------------------------------- //


// 長度常數
// ---------------------------------------------------------------- //
$sideBarWidth: 320px;  // 窄版側欄選單
$mobileWidth: 92%; // 窄螢幕寬度 moduals width in mobile
$normalWidth: 92%; // 寬螢幕寬度
$mobileWidthVW: 92vw; // 窄螢幕寬度 moduals width in mobile
$normalWidthVW: 92vw; // 寬螢幕寬度
$maximumWidth: $wwMaximum*.92; // 內容區最大寬度
// $maximumWidth: 1288px; // 內容區最大寬度

// 文件邊界寬度
$marginDoc: 4%;
$marginDocMob: 4%;
$marginDocMax: calc(50% - $wwMaximum*.46);

$radius: 8px; // 圓角半徑
$radius2: 16px; // 圓角半徑
$bigRadius: 32px; // 圓角半徑
// ---------------------------------------------------------------- //



// 顏色變數
// ---------------------------------------------------------------- //
// $primaryColor:#D35344;
$primaryColor:#cd442f;
$primaryLight:#EB8D82;
$secondaryColor: #DBDBDB;
$assistant: #085c76;
$hilight : #f7a714;
$warning: #d40035;
$hover: #f6f3f2;

$fontColor: #292929;
$fontColorLight: #505050;
$fontColorPale: #999;
$fontColorDark: #000;
$fontInvert: #fff;
$linkColor: $assistant;
$mainBg: #fff;

$borderColor: #c6c3c0;
$borderColorLight: #e3dfdf;
$borderColorDark:#443939;

$shadow1:rgb(65 60 60 / .2);
$shadow2:rgb(65 60 60 / .5);

$white: #fff;
$black: #1E1E1E;
$gray: #d9d9d9;
$grayLight: #e9e9e9;
$grayPale: #f4f4f4;
$grayDark: #888;
$grayDim: #5a5a5a;
// ---------------------------------------------------------------- //



// 首頁主要區塊寬度
// ---------------------------------------------------------------- //
%primSecWidth {
  width: $mobileWidth; 
  margin: 32px auto;
  @media screen and (min-width: $wwNormal){
    width: $normalWidth; 
  }
  @media screen and (min-width: $wwMaximum){
    width: $maximumWidth;
  }
}
// ---------------------------------------------------------------- //



// 首頁主要區塊 h2
// ---------------------------------------------------------------- //
%mp-h2 {
  font-size: 1.25em; text-align: center; margin: 0 auto 16px;
}
// ---------------------------------------------------------------- //